
/* barvy
pozadi stranky #FAFAFA
black #000000
seda button a texty #8B8B8B
modra button #407BFF
barva stinu #407BFF1F
*/


@media screen and (max/width: 500px)
{
}

body {
    background-color: #fafafa;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 500px;
    height: 1607px;
    color: #8B8B8B;
    text-align: center;
    width: 460px;
    box-sizing: border-box;
}

.kontejner {
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
  

}

.kontejner1
{
    display: flex;
    flex-direction:column;
    
    
}

.kontejner1a {
    
}

.kontejner1a img {
    height: 290px;
    margin: 60px 0 40px 0;
}

.kontejner1b {
    
}
.kontejner1b h1 {
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 42px 0;
    
}
.kontejner1b p {
    margin: 0 20px 30px 20px;
}
.kontejner1c
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button 
{
    border-radius: 20px;
    font-size: 13px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 11px 30px;   
    }
   
.dobro {
    background-color: #407bff;
    width: 195px; 
    margin-bottom: 10px;
    
}

.pohoda {
    background-color: #8B8B8B;
    width: 220px;

    
}

.dobro a {
    color: white;
    text-decoration: none;
    /*margin: 11px 30px;*/
}

.pohoda a {
    color: white;
    text-decoration: none;
    
}

.kontejner2 {
margin-top: 60px;
}

.kontejner2a {
    margin-bottom: 28px;
}
.kontejner2b {
    display: flex;
    flex-direction: column;
}

.kontejner3 {
    margin-top: 60px;
    margin-bottom: 57px;
}
.kontejner3a {

}


h2 {
    color: black;
    font-weight: bold;
    font-size: 16px;
}



p {
    text-align: center;
}

.tlacitko {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px #407BFF1F;
    margin-bottom: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 13px;
    color: #8B8B8B;
}

.tlacitko img {
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
}

.tlacitko p {
    margin-top: 32px;
    margin-left: 30px;
}
  

@media (min-width: 800px) {
	/* css styly */
}
